<h1>ルーム情報登録</h1>

 <%= form_for @room do |f| %>
  <table>
    <tr>
      <th><%= f.label :room_name ,'ルーム名' %></th>
      <td><%= f.text_field :room_name, placeholder: 'ルーム名を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :introduction ,'ルーム紹介' %></th>
      <td><%= f.text_area :introduction, placeholder: 'ルーム説明を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :price ,'料金' %></th>
      <td><%= f.number_field :price,placeholder: '料金を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :address ,'住所' %></th>
      <td><%= f.text_field :address, placeholder: '住所を入力' %></td>
    </tr>
    <tr>
      <th><%= f.label :room_image, 'ルーム画像' %></th>
      <td><%= f.file_field :room_image, placeholder: 'ルーム画像を入力' %></td>
    </tr>
  </table>
  
  <div>
    <li><%= f.submit '登録完了する' %><li>
  </div>
<% end %>
